* {
    box-sizing: border-box;
}
.container {
    min-height: 1200px;
}
.card {
    display: flex;
    background: var(--card-background-color);
    justify-content: flex-start;
    flex-direction: column;
    border: darkred solid 1px;
    border-radius: 15px;
    width: 800px;
    height: auto;
    margin: 100px 350px;
    padding: 10px;
}
#img {
    max-width: 450px;
    height: 100%;
    border-radius: 15px;
    transition: all .125s ease;
}
#img:hover {
    transform: scale(1.1);
}
.img_block {
    display: flex;
    justify-content: flex-start;
}
.text {
    color: var(--text-color)
}
#title {
    text-align: center;
    margin: 15px 0;
}
.details {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.body_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#button {
    height: 50px;
    border-radius: 15px;
    color: var(--button-color);
    padding: 0;
}
#badge{
    box-shadow: 0 0 1px var(--button-color), 0 0 2px var(--button-color), 0 0 5px var(--button-color);
}
#badge:hover {
    cursor: pointer;
    transition-delay: 0.1s;
    box-shadow: 0 0 10px var(--button-color), 0 0 40px var(--button-color), 0 0 80px var(--button-color);
}
